{% extends "base.html" %}

{% block page_content %}
<div class="col-md-8 offset-md-2">
    <h1>{{ post.title }}</h1>
    <small>
        {{ post.created_on.date }} |&nbsp;
        Categories:&nbsp;
        {% for category in post.categories.all %}
        <a href="{% url 'blog_category' category.name %}">
            {{ category.name }}
        </a>&nbsp;
        {% endfor %}
    </small>
    <p>{{ post.body | linebreaks }}</p>
    <h3>Leave a comment:</h3>
    <form id="comment-form" action="/blog/{{ post.pk }}/comment" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.author }}
        </div>
        <div class="form-group">
            {{ form.body }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <h3>Comments:</h3>
    <div id="comment-container">
    </div>    
</div>
{% endblock %}

{% block javascript %}
  <script>
    // alert('hey');
    // alert('/blog/{{ post.pk }}/comment');
    // $('#comment-container').load('/blog/{{ post.pk }}/comment');
    $(document).ready(function() {
        $.ajax({url: "/blog/{{ post.pk }}/comment", success: function(result){
            $("#comment-container").html(result);
        }});
    });
    $("#comment-form").submit(function(event) {
        /* stop form from submitting normally */
        event.preventDefault();

        /* get the action attribute from the <form action=""> element */
        var $form = $( this ),
            url = $form.attr( 'action' );

        /* Send the data using post with element id name and name2*/
        var posting = $.post( url, { author: $('#f-author').val(), body: $('#f-body').val(), csrfmiddlewaretoken: "{{ csrf_token }}" });

        /* Alerts the results */
        posting.done(function( data ) {
            $("#comment-container").html(data);
        });
    });
  </script>
{% endblock %}