{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'api/rCalendar/css/calendar.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="{% static 'api/rCalendar/js/calendar.js' %}"></script>
    <script src="{% static 'api/rCalendar/js/calendarCostum.js' %}"></script>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}" ></script>
    <script src="{% static 'js/ui-bootstrap-custom-tpls-2.5.0.min.js' %}" ></script>


    <!-- Disable Native Chrome Datepicker -->
    <style>
    input::-webkit-calendar-picker-indicator{
        display: none;
    }
    </style>

    {% block head %}
    <title>SB Admin - Bootstrap Admin Template</title>
    {% endblock %}


</head>

<body>

    <div class="navbar-fixed-top">
        <nav class="navbar navbar-inverse" style="border-radius:0px">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div>
	          <img src='{% static "images/itb.png" %}' alt="Logo ITB" style="height: 50px; margin: 7px;float: left">
	          <a class="navbar-brand" href="#">Admin Ruangan</a>
          </div>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav side-nav">
            <li id="kalenderPeminjaman">
                <a href="{% url 'peminjaman:kalender' %}"><i>&#xe800;</i> Kalender</a>
            </li>
            <li id="peminjaman">
                <a href="{% url 'peminjaman:index' %}"><i>&#xe802;</i>Peminjaman</a>
            </li>
            <li id="peminjam">
                <a href="{% url 'peminjam:index' %}"><i>&#xe801;</i> Peminjam</a>
            </li>
            <li id="ruangan">
                <a href="{% url 'ruangan:index' %}"><i>&#xe804;</i> Ruangan</a>
            </li>
            <li id="log">
                <a href="{% url 'log:index' %}"><i>&#xe804;</i> Log</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="{% url 'logout' %}"><i>&#xe803;</i> Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    </div>
    <div id="page-wrapper" style="min-height: 100vh">
        <div class="container-fluid">
            {% block body %}
            <br>
            <br>
            <br>
            <br>
            <br>
            {% endblock %}
        </div>
    </div>
</body>
</html>
