<script>
    $(document).ready(function () {
        $(".nav li").removeClass("active");
        $('#kalenderPeminjaman').addClass('active');
    });
    angular.module('calendarDemoApp', ['ui.rCalendar']);
    angular.module('calendarDemoApp').config(function($interpolateProvider) {
  		$interpolateProvider.startSymbol('{[{');
  		$interpolateProvider.endSymbol('}]}');
	}).controller('CalendarDemoCtrl',['$scope','$http','$timeout', function ($scope, $http, $timeout) {
        'use strict';
        $scope.changeMode = function (mode) {
            $scope.mode = mode;
        };
        $scope.today = function () {
            $scope.currentDate = new Date();
        };
        $scope.isToday = function () {
            var today = new Date(),
                currentCalendarDate = new Date($scope.currentDate);
            today.setHours(0, 0, 0, 0);
            currentCalendarDate.setHours(0, 0, 0, 0);
            return today.getTime() === currentCalendarDate.getTime();
        };
        $scope.onEventSelected = function (event) {
            $scope.event = event;
        };
        $scope.onTimeSelected = function (selectedTime) {
            console.log('Selected time: ' + selectedTime);
        };
		/* Global Variables */
		$scope.peminjamanList_GLOBAL = null;

    /* Fetching */
    $scope.peminjamEdit = "{% url 'peminjam:editbase' %}"
		$scope.peminjamDelete = "{% url 'peminjam:deletebase' %}"
		$scope.peminjamJson = "{% url 'peminjam:json' %}"
		$scope.peminjamanEdit = "{% url 'peminjaman:editbase' %}"
		$scope.peminjamanDelete = "{% url 'peminjaman:deletebase' %}"
		$scope.peminjamanJson = "{% url 'peminjaman:jsonbase' %}"
		$scope.ruanganEdit = "{% url 'ruangan:editbase' %}"
		$scope.ruanganDelete = "{% url 'ruangan:deletebase' %}"
		$scope.ruanganJson = "{% url 'ruangan:json' %}"
		$http.get($scope.peminjamJson).success(function(data, status, headers, config) {
	      	$scope.peminjamList = data.results;
	    }).error(function(data, status, headers, config) {
	      	$scope.peminjamList = "ERROR";
	    });
	    $http.get($scope.ruanganJson).success(function(data, status, headers, config) {
	      	$scope.ruanganList = data.results;
	    }).error(function(data, status, headers, config) {
	      	$scope.ruanganList = "ERROR";
	    });
		var filterByPeminjam;
	    function peminjamTampil(e) {
            for (var i in $scope.peminjamList) {
                if (e == $scope.peminjamList[i].id) {
					filterByPeminjam = $scope.peminjamList[i].nama;
                    return $scope.peminjamList[i].nama;
                }
            }
            return ;
        };

		var filterByRuangan;
        var fotoRuangan ;
        var warnaRuangan;
		// get the name of room
		function ruanganTampil(e) {
            for (var i in $scope.ruanganList) {
                if (e == $scope.ruanganList[i].id) {
                    filterByRuangan= $scope.ruanganList[i].nama;
                    fotoRuangan =  $scope.ruanganList[i].foto;
                    warnaRuangan = $scope.ruanganList[i].warna;

					return $scope.ruanganList[i].nama;
                }
            }
			return;
        };
		// get all borrowed room in particular year
	    function fetchPeminjaman(){
            var events = [];
            $http.get($scope.peminjamanJson).success(function(data, status, headers, config) {
				// EXPERIMENT CODE
                console.log("SUCCESS");
				$scope.peminjamanList_GLOBAL = data.results;
				// END OF EXPERIMENT CODE
            }).error(function(data, status, headers, config) {
                $scope.peminjamanList = "ERROR";
                $scope.peminjamanList_GLOBAL = "ERROR";
            });
            return events;
        };
		/* Filtering */
		$scope.filterRuangan = "Semua";
		$scope.filterPeminjam = "Semua";
		fetchPeminjaman();
		$scope.filterEvents = function(e) {
            var events = [];
			for (var indeksPeminjaman in $scope.peminjamanList_GLOBAL) {
                ruanganTampil($scope.peminjamanList_GLOBAL[indeksPeminjaman].ruangan_id);
				peminjamTampil($scope.peminjamanList_GLOBAL[indeksPeminjaman].peminjam_id);
				//var filterByPeminjam = peminjamTampil($scope.peminjamanList_GLOBAL[indeksPeminjaman].peminjam_id);
				var waktuAwal = new Date($scope.peminjamanList_GLOBAL[indeksPeminjaman].waktu_awal);
				var waktuAkhir = new Date($scope.peminjamanList_GLOBAL[indeksPeminjaman].waktu_akhir);
				var stopParse = function (w0, w1) {
				    if ((w1.getDate() - w0.getDate()) == 1) {
				        if ((w1.getHours() < 7) || (w1.getHours() == 7) && (w1.getMinutes() == 0)) {
				            return true;
                        } else {
				            return false;
                        }
                    } else if ((w1.getDate() - w0.getDate()) > 1){
				        return false;
                    } else {
				        return true;
                    }
                };

				if (!$scope.filterRuangan || !$scope.filterPeminjam || ($scope.filterRuangan == "Semua" && $scope.filterPeminjam == "Semua") || e == "refresh") {
					while (!stopParse(waktuAwal,waktuAkhir)) {
                        var waktuAkhirTemp = new Date(waktuAwal.getFullYear(), waktuAwal.getMonth(),
                            waktuAwal.getDate(), 23, 0, 0, 0);
                        events.push({
                            title: filterByRuangan,
                            ruangan: filterByRuangan,
                            startTime: waktuAwal,
                            endTime: waktuAkhirTemp,
                            allDay: false,
                            borrower: filterByPeminjam,
                            description: $scope.peminjamanList_GLOBAL[indeksPeminjaman].deskripsi,
                            fotoPeminjaman: $scope.peminjamanList_GLOBAL[indeksPeminjaman].foto,
                            fotoRuangan: fotoRuangan,
                            warnaRuang: warnaRuangan,

							roomOrBorrower: true
                        });
                        waktuAwal = new Date(waktuAwal.getFullYear(), waktuAwal.getMonth(),
                            waktuAwal.getDate()+1, 7, 0, 0, 0);
                    }
                    if ((waktuAkhir.getDate() - waktuAwal.getDate()) == 1) {
					    if ((waktuAkhir.getHours() < 7) || (waktuAkhir.getHours() == 7) && (waktuAkhir.getMinutes() == 0)){
					        waktuAkhir = new Date(waktuAwal.getFullYear(), waktuAwal.getMonth(),
                            waktuAwal.getDate(), 23, 0, 0, 0);
                        }
                    }
				    events.push({
						title: filterByRuangan,
						ruangan: filterByRuangan,
						startTime: waktuAwal,
						endTime: waktuAkhir,
						allDay: false,
						borrower: filterByPeminjam,
						description: $scope.peminjamanList_GLOBAL[indeksPeminjaman].deskripsi,
                        fotoPeminjaman: $scope.peminjamanList_GLOBAL[indeksPeminjaman].foto,
                        fotoRuangan: fotoRuangan,
                        warnaRuang: warnaRuangan,

						roomOrBorrower: true
					});
				} else {

					if ((filterByRuangan == $scope.filterRuangan && filterByPeminjam == $scope.filterPeminjam) || (filterByPeminjam == $scope.filterPeminjam && $scope.filterRuangan == "Semua")) {

						while (!stopParse(waktuAwal,waktuAkhir)){
                            var waktuAkhirTemp = new Date(waktuAwal.getFullYear(), waktuAwal.getMonth(), waktuAwal.getDate(), 23, 0, 0, 0);
                            events.push({
                                title: filterByRuangan,
                                ruangan: filterByRuangan,
                                startTime: waktuAwal,
                                endTime: waktuAkhirTemp,
                                allDay: false,
                                borrower: filterByPeminjam,
                                description: $scope.peminjamanList_GLOBAL[indeksPeminjaman].deskripsi,
                                fotoPeminjaman: $scope.peminjamanList_GLOBAL[indeksPeminjaman].foto,
                                fotoRuangan: fotoRuangan,
                                warnaRuang: warnaRuangan,

								roomOrBorrower: true
                            });
                            waktuAwal = new Date(waktuAwal.getFullYear(), waktuAwal.getMonth(),
                                waktuAwal.getDate()+1, 7, 0, 0, 0);
                        }
                        if ((waktuAkhir.getHours() < 7) || (waktuAkhir.getHours() == 7) && (waktuAkhir.getMinutes() == 0)) {
                            if (waktuAkhir.getHours() < 7){
                                waktuAkhir = new Date(waktuAwal.getFullYear(), waktuAwal.getMonth(),
                                waktuAwal.getDate(), 23, 0, 0, 0);
                            }
                        }
						events.push({
							title: filterByRuangan,
							ruangan: filterByRuangan,
							startTime: waktuAwal,
							endTime: waktuAkhir,
							allDay: false,
							borrower: filterByPeminjam,
							description: $scope.peminjamanList_GLOBAL[indeksPeminjaman].deskripsi,
                            fotoPeminjaman: $scope.peminjamanList_GLOBAL[indeksPeminjaman].foto,
                            fotoRuangan: fotoRuangan,
                            warnaRuang: warnaRuangan,

							roomOrBorrower: true
						});
					} else {

						if ($scope.filterPeminjam == "Semua" && filterByRuangan == $scope.filterRuangan) {
							while (!stopParse(waktuAwal,waktuAkhir)) {
								var waktuAkhirTemp = new Date(waktuAwal.getFullYear(), waktuAwal.getMonth(), waktuAwal.getDate(), 23, 0, 0, 0);
								events.push({
									title: filterByPeminjam,
									ruangan: filterByRuangan,
									startTime: waktuAwal,
									endTime: waktuAkhirTemp,
									allDay: false,
									borrower: filterByPeminjam,
									description: $scope.peminjamanList_GLOBAL[indeksPeminjaman].deskripsi,
									fotoPeminjaman: $scope.peminjamanList_GLOBAL[indeksPeminjaman].foto,
									fotoRuangan: fotoRuangan,
									warnaRuang: warnaRuangan,

									roomOrBorrower: true
								});
								waktuAwal = new Date(waktuAwal.getFullYear(), waktuAwal.getMonth(),
									waktuAwal.getDate()+1, 7, 0, 0, 0);
							}
							if ((waktuAkhir.getHours() < 7) || (waktuAkhir.getHours() == 7) && (waktuAkhir.getMinutes() == 0)) {
                                if (waktuAkhir.getHours() < 7){
                                    waktuAkhir = new Date(waktuAwal.getFullYear(), waktuAwal.getMonth(),
                                    waktuAwal.getDate(), 23, 0, 0, 0);
                                }
                            }
							events.push({
								title: filterByPeminjam,
								ruangan: filterByRuangan,
								startTime: waktuAwal,
								endTime: waktuAkhir,
								allDay: false,
								borrower: filterByPeminjam,
								description: $scope.peminjamanList_GLOBAL[indeksPeminjaman].deskripsi,
								fotoPeminjaman: $scope.peminjamanList_GLOBAL[indeksPeminjaman].foto,
								fotoRuangan: fotoRuangan,
								warnaRuang: warnaRuangan,

								roomOrBorrower: true
							});

						} 
					}
					
				}
				
			}

			$scope.eventSource = events;
			$scope.$broadcast('eventSourceChanged',$scope.eventSource);
    	    console.log(events);
		}
		$timeout(function() {
            angular.element(document.getElementById("calendarFilter")).triggerHandler('click');
        },200);
    }]);
    angular.element(document).ready(function() {
    	angular.bootstrap(document.getElementById("AppKalender"), ["calendarDemoApp"]);
  	});
</script>

<style>
    .table>tbody>tr>td {
        padding: 8px 0;
    }
</style>

<div class="content">
    <ul class="breadcrumb" style="margin-bottom: 10px;">
        <li class="active">Kalender Peminjaman</li>
    </ul>
    <div class="panel container-fluid">
        <div id="AppKalender" ng-controller="CalendarDemoCtrl" ng-init="filterEvents('filter')">
            <div class="row">
                <div class="col-md-3 col-xs-12" style="margin: 15px 0;">
                    <div class="input-group">
                        <span class="input-group-addon" style="padding-right: 10px">Ruangan , </span>
                        <select ng-model="filterRuangan" class="form-control input-sm" id="filterQuery">
                            <option value="Semua" selected>Semua</option>
                            <option value="{[{ ruanganData.nama }]}" ng-repeat = "ruanganData in ruanganList">{[{ ruanganData.nama }]}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-xs-12" style="margin-bottom: 20px">
                    <div class="input-group">
                        <span class="input-group-addon">Peminjam , </span>
                        <select ng-model="filterPeminjam" class="form-control input-sm" id="filterQueryPeminjam">
                            <option value="Semua" selected>Semua</option>
                            <option value="{[{ peminjamData.nama }]}" ng-repeat = "peminjamData in peminjamList">{[{ peminjamData.nama }]}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-xs-7">
                    <span class="btn btn-default btn-sm" ng-click="filterEvents('filter')" id="calendarFilter">
                        Filter
                    </span>
                </div>
                <div class="col-md-2 col-md-offset-8 col-xs-5" style="text-align: right">
                    <div class="btn-toolbar" style="margin-bottom: 10px">
                        <div class="input-group" style="text-align: right">
                            <span type="button" class="btn btn-default btn-sm" ng-disabled="isToday()" ng-click="today()" style="float:none">
                                Today
                            </span>
                            <span class="input-group-btn" style="padding-left: 15px">
                                <span type="button" class="glyphicon glyphicon-refresh btn btn-link btn-sm" ng-click="filterEvents('filter')" id="calendarRefresh" aria-hidden="true">
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="well well-sm">
                <calendar ng-model="currentDate" calendar-mode="mode" event-source="eventSource"
                      range-changed="reloadSource(startTime, endTime)"
                      event-selected="onEventSelected(event)"
                      time-selected="onTimeSelected(selectedTime)"></calendar>
            </div>
            <!--<div ng-init="filterEvents('refresh')">-->

            <!--</div>-->
        </div>
    </div>
</div>